<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username or email" formControlName="usernameOrEmail" name="usernameOrEmail">
    </mat-form-field><br>
    
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" formControlName="password" name="password">
    </mat-form-field><br>
  
    <button mat-raised-button color="primary">Submit</button>
  </form>
  <button mat-raised-button color="link" routerLink="/register">Register</button>
  